<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <appSettings>
    <add key="ConfigPath" value="C:\Program Files\Sonar\out\Config\Sonar.config"/>
    <add key="RuntimeType" value="Service"/>
	<!--<add key="RuntimeType" value="Console"/>-->
	<add key="LogLevel" value="Information"/>
    <!--<add key="LogLevel" value="Debug"/>-->
    <add key="LogPath" value="C:\Program Files\Sonar\out\Config\Sonar.log"/>
    <add key="ExporterPort" value="9180"/>
    <add key="ExporterCacheMilliseconds" value="60000"/>
    <add key="ExporterEnabled" value="true"/>
  </appSettings>
</configuration>
