<?xml version="1.0"?>
    <configuration>
      <configSections>
        <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
      </configSections>
      <Sonar>
        <Runtime scrapeIntervalSeconds="5" skipSSLCheck="true" threads="1"/>
        <Schedules/>
        <Servers/>        
        <Queries>
            <add name="aku-test-proto" type="raw" timestamp="ts"
            filter="{'group-aggregate': {
                      'metric':'Perfmon_Process_processor_time',
                      'step':'20s',
                      'func':['max','min']
                      },
                    'range':{'from': 'timeshift(1m)','to': 'timeshift(0s)'},
                    'where':{},
                    'output':{'format': 'csv','timestamp': 'raw'},
                    'limit':'100',
                    'order-by':'series',
                    'apply':[]}">
<!--                    
                    {"group-aggregate":
                      {
                      "metric":"Perfmon_Process_processor_time",
                      "step":"2s","
                      func":["mean"]},
                      "range":{"from":"20180329T222637.727","to":"20180329T225637.727"},
                      "where":{},
                      "order-by":"series",
                      "apply":[]
                    }
-->
            <Tags>                   
            </Tags>
            <Values>
            </Values>           
            <Labels>
                <add name="all" sourceLabels="name" regex="([a-z_]+)=(.+)" targetLabel="$1" replacement="$2" action="replace" />
                <!-- <add name="all" sourceLabels="name" regex="([a-z_]+)=(.+)" targetLabel="$1" replacement="$2" action="keep" /> -->
                <!-- <add name="customhost" regex="([a-z_]+)=(.+)" targetLabel="myhost" replacement="$2"/> -->
            </Labels>
        </add>                                                                
        </Queries>
      </Sonar>
    </configuration>