<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <Sonar>
    <Schedules/> 
    <Servers/>
    <Queries>
        <add name="BizTalkMessageAgent" type="wql" 
            filter="SELECT * FROM Win32_PerfFormattedData_BTSSvc30_BizTalkMessageAgent" 
            resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>                
                <add name="Activeinstancecount" value="CimType.UInt32" />
                <add name="Caption" value="CimType.String" />
                <add name="Databasesession" value="CimType.UInt32" />
                <add name="Databasesessionthreshold" value="CimType.UInt32" />
                <add name="Databasesize" value="CimType.UInt32" />
                <add name="Description" value="CimType.String" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="Highdatabasesession" value="CimType.UInt32" />
                <add name="Highdatabasesize" value="CimType.UInt32" />
                <add name="Highinprocessmessagecount" value="CimType.UInt32" />
                <add name="Highmessagedeliveryrate" value="CimType.UInt32" />
                <add name="Highmessagepublishingrate" value="CimType.UInt32" />
                <add name="Highprocessmemory" value="CimType.UInt32" />
                <add name="Highsystemmemory" value="CimType.UInt32" />
                <add name="Highthreadcount" value="CimType.UInt32" />
                <add name="Inprocessmessagecount" value="CimType.UInt32" />
                <add name="Inprocessmessagecountthreshold" value="CimType.UInt32" />
                <add name="Messagedeliverydelayms" value="CimType.UInt32" />
                <add name="Messagedeliveryincomingrate" value="CimType.UInt32" />
                <add name="Messagedeliveryoutgoingrate" value="CimType.UInt32" />
                <add name="Messagedeliverythrottlingstate" value="CimType.UInt32" />
                <add name="Messagedeliverythrottlingstateduration" value="CimType.UInt32" />
                <add name="Messagedeliverythrottlinguseroverride" value="CimType.UInt32" />
                <add name="Messagepublishingdelayms" value="CimType.UInt32" />
                <add name="Messagepublishingincomingrate" value="CimType.UInt32" />
                <add name="Messagepublishingoutgoingrate" value="CimType.UInt32" />
                <add name="Messagepublishingthrottlingstate" value="CimType.UInt32" />
                <add name="Messagepublishingthrottlingstateduration" value="CimType.UInt32" />
                <add name="Messagepublishingthrottlinguseroverride" value="CimType.UInt32" />
                <add name="PhysicalmemoryusageMB" value="CimType.UInt32" />
                <add name="ProcessmemoryusageMB" value="CimType.UInt32" />
                <add name="ProcessmemoryusagethresholdMB" value="CimType.UInt32" />
                <add name="ServiceclassID" value="CimType.UInt32" />
                <add name="Threadcount" value="CimType.UInt32" />
                <add name="Threadcountthreshold" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="Totalbatchescommitted" value="CimType.UInt32" />
                <add name="Totalmessagesdelivered" value="CimType.UInt32" />
                <add name="Totalmessagespublished" value="CimType.UInt32" />
            </Values>
        </add>
        <add name="BizTalkMessaging" type="wql" 
            filter="SELECT * FROM Win32_PerfFormattedData_BTSSvc30_BizTalkMessaging" 
            resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
            <add name="Activereceivelocations" value="CimType.UInt32" />
            <add name="Activereceivethreads" value="CimType.UInt32" />
            <add name="Activesendmessages" value="CimType.UInt32" />
            <add name="Activesendthreads" value="CimType.UInt32" />
            <add name="Caption" value="CimType.String" />
            <add name="Description" value="CimType.String" />
            <add name="Documentsprocessed" value="CimType.UInt32" />
            <add name="DocumentsprocessedPerSec" value="CimType.UInt32" />
            <add name="Documentsreceived" value="CimType.UInt32" />
            <add name="DocumentsreceivedPerSec" value="CimType.UInt32" />
            <add name="Documentsresubmitted" value="CimType.UInt32" />
            <add name="DocumentssubmittedPerBatch" value="CimType.UInt32" />
            <add name="Documentssuspended" value="CimType.UInt32" />
            <add name="DocumentssuspendedPerSec" value="CimType.UInt32" />
            <add name="DocumentstransmittedPerBatch" value="CimType.UInt32" />
            <add name="Frequency_Object" value="CimType.UInt64" />
            <add name="Frequency_PerfTime" value="CimType.UInt64" />
            <add name="Frequency_Sys100NS" value="CimType.UInt64" />
            <add name="IDProcess" value="CimType.UInt32" />
            <add name="Pendingreceivebatches" value="CimType.UInt32" />
            <add name="Pendingtransmittedmessages" value="CimType.UInt32" />
            <add name="RequestPerResponsetimeouts" value="CimType.UInt32" />
            <add name="Throttledreceivebatches" value="CimType.UInt32" />
            <add name="Timestamp_Object" value="CimType.UInt64" />
            <add name="Timestamp_PerfTime" value="CimType.UInt64" />
            <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add name="BizTalkMessagingLatency" type="wql"
            filter="SELECT * FROM Win32_PerfFormattedData_BTSSvc30_BizTalkMessagingLatency" 
            resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>       
                <add name="Caption" value="CimType.String" />
                <add name="Description" value="CimType.String" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="InboundLatencysec" value="CimType.UInt32" />
                <add name="OutboundAdapterLatencysec" value="CimType.UInt32" />
                <add name="OutboundLatencysec" value="CimType.UInt32" />
                <add name="RequestResponseLatencysec" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add name="BizTalkMessageBoxHostCounters" type="wql" 
            filter="SELECT * FROM Win32_PerfFormattedData_BizTalkMessageBoxHostCounters_BizTalkMessageBoxHostCounters" 
            resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="Caption" value="CimType.String" />
                <add name="Description" value="CimType.String" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="HostQueueInstanceStateMsgRefsLength" value="CimType.UInt32" />
                <add name="HostQueueLength" value="CimType.UInt32" />
                <add name="HostQueueNumberofInstances" value="CimType.UInt32" />
                <add name="HostQueueSuspendedMsgsLength" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add name="MSBTS_ServiceInstance_Named" type="wql"
            filter="select SuspendTime,InstanceID,ServiceStatus,ServiceName,ErrorDescription from MSBTS_ServiceInstance where SuspendTime > timeshift(15s) and ServiceStatus = 4" 
            resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/MicrosoftBizTalkServer/*"
            timestamp="SuspendTime"> 
            <Tags>
                <add name="ServiceName" value = "ServiceName"/>
            </Tags>
            <Values>
                <add name="ErrorDescription" value="CimType.String"/>
                <add name="ServiceStatus" value="CimType.UInt32"/>
            </Values>
        </add>                
    </Queries>
  </Sonar>
 </configuration>