<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <Sonar>
    <Servers/>
    <Schedules/>
    <Queries>
        <add name="wmifiles" type="wql"
        filter="SELECT FileSize,FileName,LastModified from Cim_DataFile where path='\\WmiFiles\\' and Drive='E:' and LastModified > timeshift(20s)"
        resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*" namespace="root\cimv2" > <!--timestamp="LastModified">--> 
            <Tags>
                <add name="FileName" value="FileName"/>
            </Tags>
            <Values>
                <add name="FileSize" value="CimType.UInt64" />
            </Values>
        </add>
    </Queries>
  </Sonar>
 </configuration>
