<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <Sonar>
    <Schedules/>         
    <Servers/>
    <Queries>
	<add name="Perfmon_WebService" type="raw" filter="*"
            resource="." namespace="Web Service">
              <Tags>
                <add name="name" value = "name"/>
            </Tags>
            <Values>
                 <add name="total_put_requests" value="Total Put Requests"/>
                 <add name="total_get_requests" value="Total Get Requests"/>
		 <add name="total_post_requests" value="Total Post Requests"/>                
            </Values>
        </add>
        <add name="Perfmon_ProcessorInformation" type="raw" filter="*"
            resource="." namespace="Processor Information">
              <Tags>
                <add name="name" value = "name"/>
            </Tags>
            <Values>
                 <add name="percent_processor_time" value="% Processor Time"/>
                 <add name="percent_user_time" value="% User Time"/>                
            </Values>
        </add>
        <add name="Perfmon_LogicalDisk" type="raw" filter="*"
            resource="." namespace="LogicalDisk">
              <Tags>
                <add name="name" value = "name"/>
            </Tags>
            <Values>
                <add name="avgbytes_read" value="Avg. Disk Bytes/Read"/>
                <add name="avgbytes_write" value="Avg. Disk Bytes/Write" />             
            </Values>
        </add>
        <add name="Perfmon_PhysicalDisk" type="raw" filter="*"
            resource="." namespace="PhysicalDisk">
              <Tags>
                <add name="name" value = "name"/>
            </Tags>
            <Values>
                <add name="avgbytes_read" value="Avg. Disk Bytes/Read"/>
                <add name="avgbytes_write" value="Avg. Disk Bytes/Write" />             
            </Values>
        </add>
        <add name="Perfmon_NetworkAdapter" type="raw" filter="*"
            resource="." namespace="Network Adapter">
              <Tags>
                <add name="name" value = "name"/>
            </Tags>
            <Values>
                <add name="bytes_sent" value="Bytes Sent/sec"/>
                <add name="bytes_received" value="Bytes Received/sec" />             
            </Values>
        </add>
        <add name="Perfmon_Process" type="raw" filter="*"
            resource="." namespace="Process">
              <Tags>
                <add name="name" value = "name"/>
            </Tags>
            <Values>
                <add name="processor_time" value="% Processor Time"/>
                <add name="user_time" value="% User Time"/>
                <add name="handle_count" value="Handle Count"/>
                <add name="private_bytes" value="Private Bytes"/>
                <add name="working_set_private" value="Working Set - Private"/>
                <add name="thread_count" value="Thread Count" />      
            </Values>
        </add>
        <add name="Perfmon_Memory" type="raw" filter=""
            resource="." namespace="Memory">
              <Tags>
                <add name="name" value = "name"/>
            </Tags>
            <Values>
                <add name="available_bytes" value="Available Bytes"/>
                <add name="committed_bytes" value="Committed Bytes"/>               
            </Values>
        </add>
    </Queries>
  </Sonar>
 </configuration>
