<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="DAVersion" value="8.7"/>
    <!-- Params "maxEventsPerDay" and "daysToFillRetention" are relevant only when param fillRetention=1-->
    <add key="fillRetention" value="0"/>
    <add key="maxEventsPerDay" value="100000"/>
    <add key="daysToFillRetention" value="7"/>
    <add key="sqlInstanceName" value="L1999-DV2\R2"/>
    <!-- In multi-filers, ShadowDB name is conneticate of  sqlShadowDBPrefix + sqlShadowDBQuantity-->
    <!-- In single filer(=ShadowDB), sqlShadowDBQuantity=1 and only sqlShadowDBPrefix param is used-->
    <add key="sqlShadowDBPrefix" value="L1999-DV1"/>
    <add key="sqlShadowDBQuantity" value="1"/>
    <!-- Params "foldersAccessPath_sqlLikeExpression" and "usersSamAcountName_sqlLikeExpression" are used by eventType "cifs"-->
    <!-- Param "usersSamAcountName_sqlLikeExpression" is used only for eventType "ad"-->
    <add key="foldersAccessPath_sqlLikeExpression" value="%Lvl_12%"/>
    <add key="usersSamAcountName_sqlLikeExpression" value="alan"/>
    <!-- Supported event types: "cifs", "ad" and "exchange"-->
    <add key="eventType" value="cifs"/>
    <!-- Param EPS_... is relevant only when fillRetention=0 and eventType=cifs, for fillRetention=1 EPS=25K -->
    <!-- Supported EPS below 1: 0.5, 0.1, 0.2, 0.01, 0.02, 0.001 and 0.002 -->
    <add key="EPS_inThousands" value="3"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
