<nlog autoReload="true" throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Varonis.Logging.NLog"/>
  </extensions>
  <variable name="logFileName" value="EndurenceVSBInjector" />
  <variable name="logDirectory" value="${basedir}/Logs" />
  <targets>
    <target name="logfile"
            xsi:type="File"
            layout="${longdate:universalTime=true}|${level:uppercase=true}|${logger}|${threadid}|${message}${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=tostring}}"
            fileName="${logDirectory}/${var:logFileName}.log"
            maxArchiveFiles="9"
            archiveFileName="${logDirectory}/${var:logFileName}-{#}.log"
            archiveAboveSize="10000000"
            archiveNumbering="DateAndSequence"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"/>

    <target name="eventlog"
            xsi:type="EventLog"
            source="${var:logFileName}"
            log="Varonis"
            layout="${message}${newline}${exception:format=ToString}" />

    <target name="colouredConsole"
            xsi:type="ColoredConsole"
            layout="${longdate:universalTime=true}|${level:uppercase=true}|${logger}|${threadid}|${message}${onexception:${newline}EXCEPTION OCCURRED:${exception:format=tostring}}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info"  foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn"  foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Info"  writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="colouredConsole" />
    <logger name="*" minlevel="Error" writeTo="eventlog" />
  </rules>
</nlog>

<!--In order to parse correctly the log file via Log4View please use the following expression: ${longdate}|${level}|${logger}|${identity}|${message}-->

