<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <connectionStrings>
    <add name="perfmon" providerName="mspdh" connectionString="." />
    <add name="sonar" providerName="wsman" connectionString="Server=sonar;" />
  </connectionStrings>
  <Sonar>
    <Runtime scrapeIntervalSeconds="5" skipSSLCheck="true" threads="1"/>
	
    <InputAdapters>
      <add provider="wsman" type="Infragravity.Sonar.Adapters.WsMan.WsmanAdapterFactory,Sonar" />
      <add provider="mspdh" type="Infragravity.Sonar.Adapters.PerformanceCounter.PerfCounterAdapterFactory,Infragravity.Sonar.Adapters.PerformanceCounter" />
    </InputAdapters>
	
    <Schedules> 
	  <!--Local Metrics -->
	  <!-- Keep thesee metrics as perfmon since they don't work in wmi -->
      <add name="perfmon_disk" query="perfmon_disk" input="perfmon" intervalSeconds="10" />
	  <add name="perfmon_disk2" query="perfmon_disk2" input="perfmon" intervalSeconds="10" />
    </Schedules>
	
    <Servers>
        <add name="sonar" url="http://localhost:5985/wsman" username="" password="" timeoutMilliseconds="1000" authType="Negotiate"/>
    </Servers> 
	
    <Queries>
		<add name="perfmon_disk" type="raw" filter="" resource="." namespace="LogicalDisk(C:)">
		<Tags> <add name="Name" value = "Name"/> </Tags>
		<Values>
		  <add name="precent_free_space_C_Solr_Partition" value="% Free Space"/>
		  <add name="avg_disk_sec_read_C_Solr_Partition" value="Avg. Disk sec/Read"/>
		  <add name="avg_disk_sec_transfer_C_Solr_Partition" value="Avg. Disk sec/Transfer"/>
		  <add name="avg_disk_sec_Write_C_Solr_Partition" value="Avg. Disk sec/Write"/>
		  <add name="disk_Bytes_sec_C_Solr_Partition" value="Disk Bytes/sec"/>
		  <add name="disk_Transfers_sec_C_Solr_Partition" value="Disk Transfers/sec"/>
		</Values>
		</add>
		
		<add name="perfmon_disk2" type="raw" filter="" resource="." namespace="LogicalDisk(E:)">
		<Tags> <add name="Name" value = "Name"/> </Tags>
		<Values>
		  <add name="avg_disk_sec_read_SolrData_Partition" value="Avg. Disk sec/Read"/>
		  <add name="avg_disk_sec_Write_SolrData_Partition" value="Avg. Disk sec/Write"/>
		  <add name="disk_Bytes_sec_SolrData_Partition" value="Disk Bytes/sec"/>
		  <add name="disk_Transfers_sec_SolrData_Partition" value="Disk Transfers/sec"/>
		</Values>
		</add>
				
    </Queries>
  </Sonar>
 </configuration>
